<a href="https://colab.research.google.com/github/apeetdkl/Python-DS/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Pandas***

In [ ]:
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
import pandas as pd
a = [1,1,4,5]
myvar = pd.Series(a)
print(myvar)

0    1
1    1
2    4
3    5
dtype: int64

In [ ]:
import pandas as pd
a = [1,3,5,7,9]
myvar = pd.Series(a, index = ["v","w","x","y","z"])
print (myvar)

v    1
w    3
x    5
y    7
z    9
dtype: int64

In [ ]:
import pandas as pd
calories = {"day1": 420 , "day2":380, "day3":390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
calories = {"day1": 420 , "day2":380, "day3":390}
myvar = pd.Series(calories, index = ["day1","day2"])
print (myvar)

day1    420
day2    380
dtype: int64